extends ../layouts/admin.jade
block content
    include ../layouts/errors.jade
    include ../layouts/form-control-mixins.jade
    form.form-horizontal(action='#{relativeURL("/new")}', method='POST' role="form")
        +form-textarea-control("Message",2,3,"description", body?body.description:"")
        +form-submit-control("create")